.git
.gitignore
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/

adbot-x-fullstack/frontend/
adbot-x-fullstack/backend/.env
adbot-x-fullstack/backend/.venv/
adbot-x-fullstack/backend/venv/
