APP_TITLE="AVM Robot API"
CORS_ORIGINS="*"
# Cloud production ornek: CORS_ORIGINS="https://app.domain.com,https://www.app.domain.com"
STT_MODE="external"
SPEECH_RATE_WPM="170"
LLM_MODEL="gemini-2.0-flash-lite"
LLM_MAX_TOKENS="200"
LLM_TEMPERATURE="0.7"
LLM_MEMORY_WINDOW="10"
TTS_MODEL_ID="eleven_multilingual_v2"

# API keys
DEEPGRAM_API_KEY=""
GEMINI_API_KEY=""
ELEVENLABS_API_KEY=""
ELEVENLABS_VOICE_ID=""
ELEVENLABS_VOICE_ID_ALI=""
ELEVENLABS_VOICE_ID_TOPRAK=""
ELEVENLABS_VOICE_ID_MUSTAFA=""
ELEVENLABS_VOICE_ID_RASIT=""
ELEVENLABS_VOICE_ID_YASIN=""
SIMLI_API_KEY=""
SIMLI_FACE_ID=""
SIMLI_FACE_ID_ALI=""
SIMLI_FACE_ID_TOPRAK=""
SIMLI_FACE_ID_MUSTAFA=""
SIMLI_FACE_ID_RASIT="c118e7ae-9135-439e-a083-b32a60222f88"
SIMLI_FACE_ID_YASIN=""

# Avatar profile
CHARACTER_NAME="Ali Aydin"
CHARACTER_TITLE="Kidemli Yazilim Muhendisi | AI Agent Uzmani"
